<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta http-equiv="refresh" content="30" />
<title>NetKotH Scores</title>
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />

</head>
<body bgcolor="#000000" text="#FFFFFF" link="#FFFFFF" vlink="#FFFFFF">
<div align="center">
	<table border="0">
		<tr>
			<td align="center">
			<img border="0" src="netkoth.png" width="263" height="183" align="left"></td>
			<td align="center">
<p align="center"><b><font size="7">NetKotH Scores</font></b></p></td>
		</tr>
	</table>
</div>
<p align="center">&nbsp;</p>
<hr>

<div align="center">

<table>
	<tr>	
	
<td valign="top" bgcolor="#808080" align="center"><XP></td>
<td valign="top" bgcolor="#808080" align="center"><METASPLOITABLE></td>
<td valign="top" bgcolor="#808080" align="center"><WEAKWIN></td>
<td valign="top" bgcolor="#808080" align="center"><WILDCARD></td>
<td valign="top" bgcolor="#808080" align="center"><LAMPYWAMPY></td>
<td valign="top" bgcolor="#808080" align="center"><BADSTORE></td>
<td valign="top" bgcolor="#808080" align="center"><WIN98></td>
<td valign="top" bgcolor="#808080" align="center"><TOTAL></td>
	</tr>
</table>

</div>
Rules: Put your team name in &lt;team&gt;teamname&lt;/team&gt;
<hr>
<p>NetKotH scoring code and idea from <a href="http://Irongeek.com">Irongeek</a><br>
Evil intentions from <a href="http://www.question-defense.com/">Martin Bos</a><br>
Logo designed by <a href="http://www.hack3rcon.org/">Rob Dixon</a><br>
&nbsp;</p>
<p>
<pre>
Network King of the Hill 
(NetKotH)

Adrian Crenshaw and Martin Bos are running a live hacking event on the top floor. Go to the NetKotH area to register.

Scoring:

1. The teams will be given a range of IPs running web servers with vulnerabilities to attack, their goal is to deface the front page on each. Expect there to be Linux and Windows boxes, and maybe some surprises. >:)  The IPs for this game will be in the range of:
10.0.0.1 – 10.0.0.98
Versions will be switching during the game. 

2. Teams try to put up their own defacements, take down other people's defacements, and lock down the box to keep other teams out. The team’s name must be in the <team></team> tag when they deface the site for the scoring system to register it, but they can change the page however they like.

3. Once per minute (more or less) the scoring software will see who currently owns the site, and score it.

4. Referees will work as a blue team to occasionally step in and change things on the target IPs. Fix the defacement, patch, roll back changes, switch Operating Systems, etc, just to even the playing field and make things interesting.

Rules:

1. Only penetrate the hosts at the given IPs, not the scoring box (10.0.0.99) or other contestant's boxes. XSS of a player may be ok as long as it’s not destructive. >:)
2. DoS and network routing/traffic attacks are allowed, even on the traffic coming to and from contestants’ and the scoring box.
3. Stay on the NetKotH network while attacking.
4. Martin and Adrian may change/add other rules at will.

You may view the current scores by surfing to 10.0.0.99.


</pre>
</body>
</html>